<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="logconsole" xsi:type="Console" layout="${date:format=HH\:mm\:ss}|${level}|${logger}:${callsite-linenumber}| ${message} ${exception}" />
    </targets>
    <rules>
        <logger name="*" minLevel="Info" writeTo="logconsole" />
        <!-- 
        <logger name="*.Json_Data" level="Info" writeTo="logconsole" />
        <logger name="*.Program" level="Info" writeTo="logconsole" />
        <logger name="*.Scheduler" minLevel="Info" writeTo="logconsole" />
        <logger name="Notifier" minLevel="Info" writeTo="logconsole" />
        -->
    </rules>
</nlog>